<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meist.pinfan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.CaixiListActivity"
            android:label="@string/title_activity_caixi_list"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.ProductDetailsActivity" />
        <activity android:name=".activity.ResetPwdActivity" />
        <activity android:name=".activity.RegisterFirstActivity" />
        <activity android:name=".activity.RegisterSecondActivity" />
        <activity android:name=".activity.RegisterThirdActivity" />
        <activity android:name=".activity.ForgetFirstActivity" />
        <activity android:name=".activity.ForgetSecondActivity" />
        <activity android:name=".activity.DateListsActivity" />
        <activity android:name=".activity.MyCollectActivity" />
        <activity android:name=".activity.ShopDetailsActivity" />
        <activity android:name=".activity.CaixiCommentActivity" />
        <activity android:name=".activity.MessNoticeActivity" />
        <activity android:name=".activity.MyRedpacketActivity" />
        <activity android:name=".activity.MyOrderActivity" />
        <activity android:name=".activity.PresentActivity" />
        <activity android:name=".activity.OrderDetailsActivity" />
        <activity android:name=".activity.FriendsActivity" />
        <activity android:name=".activity.GiftListsActivity"></activity>
    </application>

</manifest>